
{{#each lists as |list|}}


    <div class="list-box"><p class="remove-list" style="float: right;" data-id={{list.id}}>X</p> <div class="load-list" data-id={{list.id}}>{{list.name}}</div></div>

{{/each}}
