<div class="center" style="text-transform: uppercase;">
{{#each items as |item|}}


    <p class="center item-changer" data-id="{{item.id}}" data-content="{{item.content}}">{{item.content}}</p>

{{/each}}
</div>
